<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>My name is Harsh Patel. I reside in Toronto, Canada. I am a student of Seneca College. I am learning Computer Programing and 
         web development. I am 20 years old. My hobbies are reading books especially none fictional. I like playing cricket which is my favourite
         sport as well. I have keen interest in web development. My goal is to be a successfull web developer and teach others who can not
         afford to learn web development due to finacial challenges.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon...</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.</p>
  </aside>
</div>